*{box-sizing: border-box;
}

body{
    color:#333333;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/** Home Page**/
h1, h3{
    text-align: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 20px;
    
}

.recipe{
    display: block;
    width: 30%;
    justify-content: center;
    border:none;
    border-radius: 14px;
    box-shadow: 4px 4px 7px;
}

.recipe,h1, .prep-timer{
    text-align: center;
    padding: 5px;
}



 img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
 }

 .view-recipe{
    width: 50%;
    height: 30px;
    font-weight: bold;
    background-color: red;
    border: none;
    border-radius: 5px;

 }

 .view-recipe:hover{
    background-color: #ffffff;
    border: 1px solid red;
 }

 
 button a{
    color: white;
    text-decoration: none;
 }
 button a:hover{
    color: red;
 }

 .Home{
     width: 8%;
    height: 30px;
    font-weight: bold;
    background-color: red;
    border: none;
    border-radius: 5px;
    margin: 3%;
 }

 .Home:hover{
      background-color: #ffffff;
    border: 1px solid red;
 }

 /**Cheesy Mince & Mac**/
 .one{
    text-align: center;
    color: #333333;
 }
.mac-cheese{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.about-recipe{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 4%;
    width: 50%;
    font-size: 22px;
    font-weight: bold;
    color: rgb(150, 149, 149);
}

hr{
    width: 50%;
    text-align: start;
}

.how-to{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

ul li{
    display: block;
    margin: 0 auto;
    font-size: 15px;
    text-decoration: none;
   
}
 .ingredients{
    margin-left: 3%;
 }

.recipe-container-2, .method{
    display: block;
    margin: 0 auto;
    text-align: center;
     font-size: 15px;
     margin: 20px;
     padding: 20px;
     color: red;
     width: 50%;
     height: auto;
     border-radius: 12px;
     border: none;
     box-shadow: 0 10px 20px rgb(0, 0, 0, 0.1);
}



 .recipe-tag{
    margin-left: 3%;
    color: #333333;
 }

